html{
    background-color: black;
    overflow: hidden;
}   

body {
    /* u better not look at this its disgusting */
    transform: scale(1.4); 
    transform-origin: top;
    padding: 0;
    margin: 0;
    background-color: black;
    max-width: 100vw;
}

.header {
    margin:auto;    
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: #1e2124;  
    width: 23.6em;
    max-width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:auto;    
    padding-top: 10px;
    gap: 50px;
    padding: 0;
    width:47.2em;
    max-width: 100vw;
    height:100vh;
    background-color: #1e2124;
}



.card {
    color: azure;
    background-color: black;
    display: inline-block;
    width: 37.5em;
    height: 15.625em;
    margin: 150px, 150px, 50px, 50px;
    padding: 20px;
    border: 2px solid aliceblue;
    border-radius: 1%;
    border-color: aliceblue;
    position: relative;
}

.pic  {
    max-width: 10rem;
    max-height: 15rem;
    aspect-ratio: 2/3;   
}

.name,
.desc,
.pic,
.score{
    padding: 0;
    margin: 0;
}


.name {
    position: absolute;
    top: 10.7%;
    left: 33%;   
    max-width: 45%;
    max-height: 1em;
    display: inline-block;   
    text-overflow: ellipsis;
    overflow-y: hidden; 
    white-space: break-spaces;
}

.desc{
    position: absolute;
    top: 26%;
    right: 5%;   
    display: inline-block;
    text-overflow: "[...]";
    overflow-wrap: break-word;  
    overflow-y: hidden; 
    width: 62%;
    height: 60%;
}

.score {
    position: absolute;
    top: 9%;
    right: 4%;
    display: inline-block;  
    text-overflow: ellipsis;
}

.next{
    color: aliceblue;
    background-color: black;
    border-radius: 3px;
    padding: 5px;
}

.buttons {
    display: flex;
    gap: 5rem;
    transform: translateY(-2rem);
}

.choice{
    padding-top: .09em;
    padding-bottom: .09em ;
}

.error,
.text{
    height: 0;
    gap: 0;
    color: rgb(204, 69, 52);
    align-self: center;
    justify-content: center;
    display: flex;
}

.text{
    color: aliceblue;
}

@media only screen and (max-width: 600px) {
        /* insanely bad and wip */
    .body {
        transform: scale(.5); 
        overflow-y: hidden; 
    }
    .header{
        transform: scale(1); 
        overflow-x: hidden; 
        margin: 0;
    }
    .input {
        display: flex;
        flex-direction: column;
        width: 50vw;
        gap: 2px;
        margin: 0;
    }
    .input input {
        text-align: center;
    }
    .input select {
        text-align: center;
    }
    .card{
        transform: scale(.5);
    }
    .wrapper{
        gap: 0;
    }
    html, body {
        overflow-x: hidden;
    }
  }